@model WebShoping.Models.Cart


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/site.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="block">
            <h2>Добавление товара в корзину</h2>

            @using (Html.BeginForm("AddProductToCart", "Cart", FormMethod.Post))
            {
    <fieldset>
        <legend>Товар</legend>
        <p>
            Наименование товара <br />
            @Html.DisplayFor(model => model.NameProduct)
        </p>
        <p>
            Цена <br />
            @Html.DisplayFor(model => model.Price)
        </p>

        <p>
            Колличество  <br />
            @Html.DisplayFor(model => model.Count)
        </p>

        <p>
            @Html.HiddenFor(model => model.ProductId)
        </p>

        <p>
            <input type="submit" value="Добавить товар в корзину" />
        </p>
        
    </fieldset>}
        </div>
</body>
</html>