@model IEnumerable<WebShoping.Models.User>


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/site.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="general">
        <ul class="menu-item">
            <li class="menu-item">
                @Html.ActionLink("Главная", "Index", "Home")
            </li>
            <li class="menu-item">
                @Html.ActionLink("Войти", "Login", "Account")
            </li>
            <li class="menu-item">
                @Html.ActionLink("Корзина", "Lk", "Home")
            </li>
            <li class="menu-item">
                @Html.ActionLink("Модерка", "Moder", "Moder")
            </li>
            <li class="menu-item">
                @User.Identity.Name
            </li>
        </ul>
    </div>
    <div class="block">
        Список модераторов сайта
        @Html.ActionLink("Добавить модератора", "AddModer", "Admin")
        <table>
            <tr>
                <td>Email</td>
                <td>Пароль</td>
            </tr>
            @foreach (var User in Model)
            {
                <tr>
                    <td>@User.Email</td>
                    <td>@User.Password</td>


                    <td>@Html.ActionLink("Рекадктировать пользователя", "AddPerson", "Home")</td>
                    <td>@Html.ActionLink("Удалить пользователя", "DeletePerson", "Home")</td>
                </tr>
            }
        </table>
    </div>
</body>
</html>